.welcome{
  text-align: center;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
}
.user{
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-align: center;
}

.body{
  background-color:lavender;
}

.skills_header{
  font-family:fantasy;
  font-style: oblique;
}

.projects_header{
  font-family:fantasy;
  font-style: oblique;
}



